{% extends "admin/layout.twig" %}
{% block main %}

    <div class="page-header"><h1>{% if post.id %}Modifier{% else %}Ajouter{% endif %} un post</h1></div>

    {% if app.session.hasFlash('message') %}
        <div class="alert alert-{% if app.session.hasFlash('error') %}error{% else %}success{% endif %}">
            {{ app.session.getFlash('message')|raw }}
        </div>
    {% endif %}

    <form method="post" class="span8 offset2" enctype="multipart/form-data">
        <label>
            <span>Titre</span>
            <input type="text" name="title" value="{% if app.request.get('title') %}{{ app.request.get('title') }}{% else %}{{ post.title }}{% endif %}" />
        </label>
        <label>
            <span>Contenu</span>
            <div class="holder"><textarea name="content" id="content">{% if app.request.get('content') %}{{ app.request.get('content') }}{% else %}{{ post.content }}{% endif %}</textarea></div>
			<div class="clrb"></div>
        </label>
		<label>
			<span>Image</span>
			<div class="holder">
				<input type="file" name="image" />
				{% if post.image %}
					<a class="btn" title="Supprimer l'image" href="{{ path('post.delete_image', { 'id': post.id }) }}" onclick="return confirm('Êtes-vous sûr(e) ?');"><i class="icon-trash"></i></a>
					<img style="margin: 0px 10px;" src="{{ asset('img/post/' ~ post.image) }}" alt="Image non trouvée !" />
				{% endif %}
			</div>
			<div class="clrb"></div>
		</label>
        <div class="btn-group pull-right">
            <button class="btn btn-inverse"><i class="icon-ok icon-white"></i> Valider</button>
            <a class="btn" href="{{ path('post.list') }}"><i class="icon-list"></i> Retour à la liste</a>
        </div>
    </form>

{% endblock %}
