<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Administration</title>
    <meta name="author" content="Denain" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('home') }}" target="_blank" title="Retour au site">Pizz&alpha;Shop</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li{% if strpos(app.request.getRequestURI(), 'pizza') %} class="active"{% endif %}><a href="{{ path('pizza.list') }}">Pizzas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">{% block main %}{% endblock %}</div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="{{ asset('js/nicEdit.js') }}"></script>
	<script>$(function() { new nicEditor({ iconsPath: '{{ asset('img/nicEditorIcons.gif') }}' }).panelInstance('desc'); });</script>
</body>

</html>
