<!DOCTYPE html>
<!--[if lt IE 9]><html class="nojs oldie"><![endif]-->
<!--[if IE 9]><html class="nojs ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="nojs"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <title>{% block title %}{{ app.globals.meta.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ app.globals.meta.description }}{% endblock %}" />
    <meta name="author" content="Be Seen" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <base href="{{ url('home') }}" />
    <script src="//polyfill.io"></script>
    <link rel="stylesheet" href="{{ asset('css/front.css') }}" />
</head>

<body>
    <div class="main">
        <h1 class="main__title">{{ app.globals.meta.title }}</h1>

        {% block body %}{% endblock %}
    </div>
    
    <script src="{{ asset('js/main.js') }}"></script>
    {% include 'livereload.twig' %}
</body>

</html>