<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js old-ie"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <title>{% block title title %}</title>
    <meta name="description" content="{% block description description %}" />
    <meta name="author" content="Be Seen" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <base href="{{ url('home') }}" />
    <script src="//polyfill.io"></script>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
</head>

<body>
    <main class="main">
        <h1 class="main__title">{{ title }}</h1>

        {% block body '' %}
    </main>
    
    <script src="{{ asset('js/main.js') }}"></script>
    {% include 'livereload.twig' %}
</body>

</html>