<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Administration</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}" target="_blank">Patchwork</a>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% set uri = app.request.getRequestURI() %}
                    <li{% if strpos(uri, '/pizza/') %} class="active"{% endif %}><a href="{{ path('pizza.list') }}">Pizzas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header clearfix">{% block head '' %}</div>

        {% if app.session.getFlashBag().has('error') %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in app.session.getFlashBag().get('error') %}
                        {% for field, message in error %}
                            <li><b>{{ field|trans }}</b> : {{ message }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% elseif app.session.getFlashBag().has('success') %}
            <div class="alert alert-success">
                {% for message in app.session.getFlashBag().get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% block body '' %}
    </div>

    {% block js '' %}
    {% include 'livereload.twig' %}
</body>

</html>