<!DOCTYPE html>
<!--[if lte IE 8]><html class="nojs oldie" lang="fr"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="nojs" lang="fr"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="Be Seen" />
    <meta property="og:url" content="{{ url('home') }}" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <meta property="og:image" content="{{ url('home') ~ 'assets/img/apple-touch-icon.png' }}" />
    <base href="{{ url('home') }}" />
    <!--[if lte IE 8]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/style.less') }}" />
    <!--[if !IE]><!--><link rel="stylesheet" href="{{ asset('css/webkit.less') }}" media="screen and (-webkit-min-device-pixel-ratio: 0)" /><!--<![endif]-->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('img/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('img/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('img/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('img/apple-touch-icon-144x144.png') }}" />
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-TileImage" content="{{ asset('img/apple-touch-icon-144x144.png') }}" />
</head>

<body>
    <div class="container">{% block body %}{% endblock %}</div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</body>

</html>
