{% extends "admin/layout.twig" %}

{% block body %}

    <div class="page-header"><h1>{% if pizza.id %}Modifier{% else %}Ajouter{% endif %} une pizza</h1></div>

    {% if app.session.getFlashBag().has('message') %}
        <div class="alert alert-{% if app.session.getFlashBag().has('error') %}error{% else %}success{% endif %}">
            {{ app.session.getFlashBag().get('message')[0]|raw }}
        </div>
    {% endif %}

    <form method="post" class="span8 offset2" enctype="multipart/form-data">
        <label>
            <span>Nom</span>
            <input type="text" name="title" value="{% if app.request.get('title') %}{{ app.request.get('title') }}{% else %}{{ pizza.title }}{% endif %}" />
        </label>
        <label>
            <span>Descriptif</span>
            <div class="holder"><textarea name="content" id="content" class="nic">{% if app.request.get('content') %}{{ app.request.get('content') }}{% else %}{{ pizza.content }}{% endif %}</textarea></div>
            <div class="clrb"></div>
        </label>
        <label>
            <span>Image</span>
            <div class="holder">
                <input type="file" name="image" />
                {% if pizza.image %}
                    <a class="btn" title="Supprimer l'image" href="{{ path('pizza.delete_image', { 'id': pizza.id }) }}" onclick="return confirm('Êtes-vous sûr(e) ?');"><i class="icon-trash"></i></a>
                    <img style="margin: 0px 10px;" src="{{ asset('img/pizza/' ~ pizza.image) }}" alt="Image non trouvée !" />
                {% endif %}
            </div>
            <div class="clrb"></div>
        </label>
        <div class="btn-group pull-right">
            <button class="btn btn-inverse"><i class="icon-ok icon-white"></i> Valider</button>
            <a class="btn" href="{{ path('pizza.list') }}"><i class="icon-list"></i> Retour à la liste</a>
        </div>
    </form>

{% endblock %}

{% block javascript %}<script>$(function() { new nicEditor({ iconsPath: '{{ asset('img/nicEditorIcons.gif') }}' }).panelInstance('content'); });</script>{% endblock %}
