{% extends 'admin/layout.twig' %}

{% block body %}

    <div class="page-header"><h1>{% if pizza.id %}Modifier{% else %}Ajouter{% endif %} une pizza</h1></div>

    {% if app.session.getFlashBag().has('message') %}
        <div class="alert alert-{% if app.session.getFlashBag().has('error') %}danger{% else %}success{% endif %}">
            {{ app.session.getFlashBag().get('message')[0]|raw }}
        </div>
    {% endif %}

    <form method="post" class="col-md-8 col-md-offset2" enctype="multipart/form-data">
        <label>
            <span>Titre</span>
            <input type="text" name="title" value="{% if app.request.get('title') %}{{ app.request.get('title') }}{% else %}{{ pizza.title }}{% endif %}" />
        </label>
        <label>
            <span>Contenu</span>
            <div class="holder">
                <textarea name="content" id="content" class="nic">{% if app.request.get('content') %}{{ app.request.get('content') }}{% else %}{{ pizza.content }}{% endif %}</textarea>
            </div>
        </label>
        <label>
            <span>Image</span>
            <div class="holder">
                <input type="file" name="image" />
                {% if pizza.image %}
                    <a class="btn btn-default" title="Supprimer l'image" href="{{ path('pizza.delete_image', { 'id': pizza.id }) }}" onclick="return confirm('Êtes-vous sûr(e) ?');"><i class="glyphicon glyphicon-trash"></i></a>
                    <img src="{{ asset('img/pizza/' ~ pizza.image) }}" alt="Image non trouvée !" />
                {% endif %}
            </div>
        </label>
        <div class="btn-group pull-right">
            <button class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Valider</button>
            <a class="btn btn-default" href="{{ path('pizza.list') }}"><i class="glyphicon glyphicon-list"></i> Retour à la liste</a>
        </div>
    </form>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('../../vendor/neemzy/patchwork-core/assets/js/nicEdit.js') }}"></script>
    <script>new nicEditor({ iconsPath: '{{ asset('../../vendor/neemzy/patchwork-core/assets/img/nicEditorIcons.gif') }}' }).panelInstance('content');</script>
{% endblock %}
