{% extends 'admin/layout.twig' %}

{% block head %}
    <h1 class="pull-left">Pizza list</h1>
    <a class="btn btn-primary pull-right" href="{{ path('pizza.post') }}"><i class="glyphicon glyphicon-pencil"></i> Add a pizza</a>
{% endblock %}

{% block body %}
    {% if pizzas is defined and pizzas|length %}
        <ul class="list-group">
            {% for pizza in pizzas %}
                {% set toggle_title = 'Enable' %}
                {% set toggle_icon = 'remove' %}
                {% if pizza.active %}
                    {% set toggle_title = 'Disable' %}
                    {% set toggle_icon = 'ok' %}
                {% endif %}

                <li class="list-group-item clearfix">
                    <div class="btn-group pull-right">
                        {% if not loop.first %}
                            <a class="btn btn-default btn-sm" href="{{ path('pizza.move', { model: pizza.id, up: 1 }) }}" title="Move up"><i class="glyphicon glyphicon-arrow-up"></i></a>
                        {% endif %}
                        {% if not loop.last %}
                            <a class="btn btn-default btn-sm" href="{{ path('pizza.move', { model: pizza.id, up: 0 }) }}" title="Move down"><i class="glyphicon glyphicon-arrow-down"></i></a>
                        {% endif %}
                        <a class="btn btn-default btn-sm" href="{{ path('pizza.clone', { model: pizza.id }) }}" title="Duplicate"><i class="glyphicon glyphicon-repeat"></i></a>
                        <a class="btn btn-default btn-sm" href="{{ path('pizza.toggle', { model: pizza.id }) }}" title="{{ toggle_title }}"><i class="glyphicon glyphicon-{{ toggle_icon }}"></i></a>
                        <a class="btn btn-default btn-sm" href="{{ path('pizza.post', { model: pizza.id }) }}" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                        <a class="btn btn-default btn-sm" href="{{ path('pizza.delete', { model: pizza.id }) }}" onclick="return confirm('Are you sure ?');" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>

                    {{ pizza }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning">No pizza has been created yet.</p>
    {% endif %}

    <a class="btn btn-primary pull-right" href="{{ path('pizza.post') }}"><i class="glyphicon glyphicon-pencil"></i> Add a pizza</a>
{% endblock %}